.box1{
    background-color: #7fffd4;
    height: 120px;
}

.box2{
    background-color: #dcdcdc;
    height: 60px;
}

.redes{
    font-size: 60px!important;
    color: black;
}

.textos{
    color: black;
}